button {
    width: 250px;
    height: 40px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
}

.card-body {
    width: '20rem';
    height: '12rem';
}